/* common backend css */

p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.app-main .app-main__inner {
    padding: 30px !important;
}

.app-page-title {
    padding: 20px 30px 20px 30px !important;
    margin: -30px -30px 20px !important;
}


/* Admin Login */

.ftco-section {
    padding: 3em 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap h3 {
    font-weight: 300;
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #1089ff;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-wrap .icon span {
    color: #fff;
}


/* Action */

.action-icon i {
    font-size: 18px;
}

.action-icon a {
    padding: 5px;
}